@charset "UTF-8";

/*html{
	cursor: none;
}*/

*{
	margin: 0;
	padding: 0;
}

.headTop{
	position: relative;
	width: 100%;
	height: 5vh;	
	background-color: #F9D3FA;
	top: 0;
}

.headsec{
	position: relative;
	width: 6.588%;
	height: 4.5vh;
	border: 1px solid #F9D3FA;
	top: 0;
	float: left;
	align-items: center;
}

.boxsec{
	position: relative;
	width: 80%;
	height: 60%;	
	top: 14px;
	left: 18px;
	border-radius: 20px;
	background-color: #3B234C;
	align-items: center;
}

/*.cursorRounded{
  width: 30px;
  height: 30px;
  border: 2px solid #000;
  border-radius: 50%;
}*/

.scratchSec{
	width: 20vw;
	height: 91vh;
	margin: 0 0 0 40%;
	/* x% y% - The x value is the horizontal position y value is the vertical. The top left corner is 0% 0%. The right bottom corner is 100% 100%. If only 1 value is specified, the other value will be 50%. Default value is: 0% 0% */
	background-position: 40% 60%;
	background-blend-mode: difference;
	background: #FF00F1;
	overflow: hidden;	
	pointer-events: none;
}

span{
	display: flex;
	position: absolute;
	align-content: center;
	/*eraser size*/
	width: 30px;
	height: 30px;
	background-image: url(https://static.wixstatic.com/media/39a9b0_a75582ec67d34090b87ef852bac7aa96~mv2.png/v1/fill/w_937,h_1067,al_c,q_90,enc_auto/ArtboardUnder-YourSymbolsPanel.png);
	background-size: 5.84vw auto;
	/* x% y% - The x value is the horizontal position y value is the vertical. The top left corner is 0% 0%. The right bottom corner is 100% 100%. If only 1 value is specified, the other value will be 50%. Default value is: 0% 0% */
	background-position: 55.81% 28.43%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	pointer-events: none;
	border-radius: 10%;
}

span2{
	display: flex;
	position: absolute;
	align-content: center;
	/*eraser size*/
	width: 30px;
	height: 30px;
	background-image: url(https://static.wixstatic.com/media/39a9b0_0e3aff416fa04de2845f384233373b55~mv2.png/v1/fill/w_1200,h_864,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/39a9b0_0e3aff416fa04de2845f384233373b55~mv2.png);
	background-size: 17vw auto;
	background-position: 49.95% 50.3%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	pointer-events: none;
	border-radius: 10%;
}

span3{
	display: flex;
	position: absolute;
	align-content: center;
	/*eraser size*/
	width: 30px;
	height: 30px;
	background-image: url(https://static.wixstatic.com/media/39a9b0_e098ce6ce47f4e5b82ecf69967c47060~mv2.png/v1/fill/w_1200,h_764,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/39a9b0_e098ce6ce47f4e5b82ecf69967c47060~mv2.png);
	background-size: 10.19vw auto;
	background-position: 46.11% 71.9%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	pointer-events: none;
	border-radius: 10%;
}

span4{
	display: flex;
	position: absolute;
	align-content: center;
	/*eraser size*/
	width: 30px;
	height: 30px;
	background-image: url(https://static.wixstatic.com/media/39a9b0_67313a7ca709403391d46b3897653db3~mv2.png/v1/fill/w_1120,h_358,al_c,lg_1,q_90,enc_auto/39a9b0_67313a7ca709403391d46b3897653db3~mv2.png);
	background-size: 5.79vw auto;
	background-position: 44.03% 79.4%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	pointer-events: none;
	border-radius: 10%;
}

span5{
	display: flex;
	position: absolute;
	align-content: center;
	/*eraser size*/
	width: 30px;
	height: 30px;
	background-image: url(https://static.wixstatic.com/media/39a9b0_7493ba32637f4dce9f0cd1d32d764f28~mv2.png/v1/fill/w_1120,h_358,al_c,lg_1,q_90,enc_auto/39a9b0_7493ba32637f4dce9f0cd1d32d764f28~mv2.png);
	background-size: 5.79vw auto;
	background-position: 44.03% 83.9%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	pointer-events: none;
	border-radius: 10%;
}

span6{
	display: flex;
	position: absolute;
	align-content: center;
	/*eraser size*/
	width: 30px;
	height: 30px;
	background-image: url(https://static.wixstatic.com/media/39a9b0_c508aac2d5274135b5776cf560241685~mv2.png/v1/fill/w_1200,h_764,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/39a9b0_c508aac2d5274135b5776cf560241685~mv2.png);
	background-size: 10.19vw auto;
	background-position: 53.73% 87.3%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	pointer-events: none;
	border-radius: 10%;
}

span7{
	display: flex;
	position: absolute;
	align-content: center;
	/*eraser size*/
	width: 30px;
	height: 30px;
	background-image: url(https://static.wixstatic.com/media/39a9b0_68fa69bdd1b0484a81f50af87f3a0cdc~mv2.png/v1/fill/w_483,h_420,al_c,lg_1,q_85,enc_auto/39a9b0_68fa69bdd1b0484a81f50af87f3a0cdc~mv2.png);
	background-size: 2.1vw auto;
	background-position: 42.36% 88.36%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	pointer-events: none;
	border-radius: 10%;
}

.footBottom{
	position: fixed !important;
	width: 100%;
	height: 5vh;	
	background-color: #CACACA;	
	bottom: 0 !important;
	overflow: hidden;
}

@media screen and (max-width: 600px){
	
	*{
	margin: 0;
	padding: 0;
}

.headTop{
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
	height: 5vh;	
	background-color: #F9D3FA;
	top: 0;
}

.headsec{
	position: relative;
	width: 6.588%;
	height: 4.5vh;
	border: 1px solid #F9D3FA;
	top: 0;
	float: left;
	align-items: center;
}

.boxsec{
	position: relative;
	width: 80%;
	height: 60%;	
	top: 14px;
	left: 18px;
	border-radius: 20px;
	background-color: #3B234C;
	align-items: center;
}

/*.cursorRounded{
  width: 30px;
  height: 30px;
  border: 2px solid #000;
  border-radius: 50%;
}*/

.scratchSec{
	width: 100vw;
	height: 91vh;
	margin: 0;
	top: 0;
	left: 0;
	/* x% y% - The x value is the horizontal position y value is the vertical. The top left corner is 0% 0%. The right bottom corner is 100% 100%. If only 1 value is specified, the other value will be 50%. Default value is: 0% 0% */
	background-position: 40% 60%;
	background-blend-mode: difference;
	background:#5B00FF;
	overflow: hidden;	
	pointer-events: none;
}

span{
	display: flex;
	position: absolute;
	align-content: center;
	/*eraser size*/
	width: 30px;
	height: 30px;
	background-image: url(https://static.wixstatic.com/media/39a9b0_a75582ec67d34090b87ef852bac7aa96~mv2.png/v1/fill/w_937,h_1067,al_c,q_90,enc_auto/ArtboardUnder-YourSymbolsPanel.png);
	background-size: 5.84vw auto;
	/* x% y% - The x value is the horizontal position y value is the vertical. The top left corner is 0% 0%. The right bottom corner is 100% 100%. If only 1 value is specified, the other value will be 50%. Default value is: 0% 0% */
	background-position: 55.81% 28.43%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	pointer-events: none;
	border-radius: 10%;
}

span2{
	display: flex;
	position: absolute;
	align-content: center;
	/*eraser size*/
	width: 30px;
	height: 30px;
	background-image: url(https://static.wixstatic.com/media/39a9b0_0e3aff416fa04de2845f384233373b55~mv2.png/v1/fill/w_1200,h_864,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/39a9b0_0e3aff416fa04de2845f384233373b55~mv2.png);
	background-size: 17vw auto;
	background-position: 49.95% 50.3%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	pointer-events: none;
	border-radius: 10%;
}

span3{
	display: flex;
	position: absolute;
	align-content: center;
	/*eraser size*/
	width: 30px;
	height: 30px;
	background-image: url(https://static.wixstatic.com/media/39a9b0_e098ce6ce47f4e5b82ecf69967c47060~mv2.png/v1/fill/w_1200,h_764,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/39a9b0_e098ce6ce47f4e5b82ecf69967c47060~mv2.png);
	background-size: 10.19vw auto;
	background-position: 46.11% 71.9%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	pointer-events: none;
	border-radius: 10%;
}

span4{
	display: flex;
	position: absolute;
	align-content: center;
	/*eraser size*/
	width: 30px;
	height: 30px;
	background-image: url(https://static.wixstatic.com/media/39a9b0_67313a7ca709403391d46b3897653db3~mv2.png/v1/fill/w_1120,h_358,al_c,lg_1,q_90,enc_auto/39a9b0_67313a7ca709403391d46b3897653db3~mv2.png);
	background-size: 5.79vw auto;
	background-position: 44.03% 79.4%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	pointer-events: none;
	border-radius: 10%;
}

span5{
	display: flex;
	position: absolute;
	align-content: center;
	/*eraser size*/
	width: 30px;
	height: 30px;
	background-image: url(https://static.wixstatic.com/media/39a9b0_7493ba32637f4dce9f0cd1d32d764f28~mv2.png/v1/fill/w_1120,h_358,al_c,lg_1,q_90,enc_auto/39a9b0_7493ba32637f4dce9f0cd1d32d764f28~mv2.png);
	background-size: 5.79vw auto;
	background-position: 44.03% 83.9%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	pointer-events: none;
	border-radius: 10%;
}

span6{
	display: flex;
	position: absolute;
	align-content: center;
	/*eraser size*/
	width: 30px;
	height: 30px;
	background-image: url(https://static.wixstatic.com/media/39a9b0_c508aac2d5274135b5776cf560241685~mv2.png/v1/fill/w_1200,h_764,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/39a9b0_c508aac2d5274135b5776cf560241685~mv2.png);
	background-size: 10.19vw auto;
	background-position: 53.73% 87.3%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	pointer-events: none;
	border-radius: 10%;
}

span7{
	display: flex;
	position: absolute;
	align-content: center;
	/*eraser size*/
	width: 30px;
	height: 30px;
	background-image: url(https://static.wixstatic.com/media/39a9b0_68fa69bdd1b0484a81f50af87f3a0cdc~mv2.png/v1/fill/w_483,h_420,al_c,lg_1,q_85,enc_auto/39a9b0_68fa69bdd1b0484a81f50af87f3a0cdc~mv2.png);
	background-size: 2.1vw auto;
	background-position: 42.36% 88.36%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	pointer-events: none;
	border-radius: 10%;
}

.footBottom{
	position: fixed !important;
	width: 100%;
	height: 5vh;	
	background-color: #CACACA;	
	bottom: 0 !important;
	overflow: hidden;
}
	
}