@charset "UTF-8";

/*html{
	cursor: none;
}*/

*{
	margin: 0;
	padding: 0;
}

.headTop{
	position: relative;
	width: 100%;
	height: 5vh;	
	background-color: #F9D3FA;
	top: 0;
}

.headsec{
	position: relative;
	width: 6.588%;
	height: 4.5vh;
	border: 1px solid #F9D3FA;
	top: 0;
	float: left;
	align-items: center;
}

.boxsec{
	position: relative;
	width: 80%;
	height: 60%;	
	top: 14px;
	left: 18px;
	border-radius: 20px;
	background-color: #3B234C;
	align-items: center;
}

/*.cursorRounded{
  width: 30px;
  height: 30px;
  border: 2px solid #000;
  border-radius: 50%;
}*/

.scratchSec{
	width: 20vw;
	height: 91vh;
	margin: 0 0 0 40%;
	/* x% y% - The x value is the horizontal position y value is the vertical. The top left corner is 0% 0%. The right bottom corner is 100% 100%. If only 1 value is specified, the other value will be 50%. Default value is: 0% 0% */
	background-position: 40% 60%;
	background-blend-mode: difference;
	background: #FF00F1;
	overflow: hidden;	
	pointer-events: none;
}

.panel1, .panel2, .panel3, .panel4, .panel5, .panel6, .panel7, .panel8, .panel9, .panel10, .panel11, .panel12, .panel13, .panel14{
	width: 100%;
	height: 6.428vh;
	display: flex;
	position: relative;
	align-content: center;
	border: 1px solid #F9D3FA;
}

.in3-1, .in3-2, .in3-3, .in3-4, .in3-5{
	width: 20%;
	height: 100%;
	display: flex;
	border: 1px solid #F9D3FA;
	background-color: #9BFFED;
}

span{
	display: flex;
	position: absolute;
	align-content: center;
	/*eraser size*/
	width: 50px;
	height: 50px;
	background-image: url(https://static.wixstatic.com/media/39a9b0_a75582ec67d34090b87ef852bac7aa96~mv2.png/v1/fill/w_937,h_1067,al_c,q_90,enc_auto/ArtboardUnder-YourSymbolsPanel.png);
	background-size: 5.84vw auto;
	/* x% y% - The x value is the horizontal position y value is the vertical. The top left corner is 0% 0%. The right bottom corner is 100% 100%. If only 1 value is specified, the other value will be 50%. Default value is: 0% 0% */
	background-position: 55.8% 28.4%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	pointer-events: none;
	border-radius: 10%;
}

span2{
	display: flex;
	position: absolute;
	align-content: center;
	/*eraser size*/
	width: 50px;
	height: 50px;
	background-image: url(https://static.wixstatic.com/media/39a9b0_0e3aff416fa04de2845f384233373b55~mv2.png/v1/fill/w_1200,h_864,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/39a9b0_0e3aff416fa04de2845f384233373b55~mv2.png);
	background-size: 17vw auto;
	background-position: 49.95% 50.3%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	pointer-events: none;
	border-radius: 10%;
}

span3{
	display: flex;
	position: absolute;
	align-content: center;
	/*eraser size*/
	width: 50px;
	height: 50px;
	background-image: url(https://static.wixstatic.com/media/39a9b0_11fc3d9233604ed4b7edd830d78a268e~mv2.png/v1/fill/w_588,h_415,al_c,lg_1,q_85,enc_auto/Note.png);
	background-size: 3vw 4vh;
	background-position: 50% 19.9%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	pointer-events: none;
	border-radius: 10%;
}

span4{
	display: flex;
	position: absolute;
	align-content: center;
	/*eraser size*/
	width: 50px;
	height: 50px;
	background-image: url(https://static.wixstatic.com/media/39a9b0_11fc3d9233604ed4b7edd830d78a268e~mv2.png/v1/fill/w_588,h_415,al_c,lg_1,q_85,enc_auto/Note.png);
	background-size: 3vw 4vh;
	background-position: 54% 19.9%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	pointer-events: none;
	border-radius: 10%;
}

span5{
	display: flex;
	position: absolute;
	align-content: center;
	/*eraser size*/
	width: 50px;
	height: 50px;
	background-image: url(https://static.wixstatic.com/media/39a9b0_11fc3d9233604ed4b7edd830d78a268e~mv2.png/v1/fill/w_588,h_415,al_c,lg_1,q_85,enc_auto/Note.png);
	background-size: 3vw 4vh;
	background-position: 58% 19.9%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	pointer-events: none;
	border-radius: 10%;
}

span6{
	display: flex;
	position: absolute;
	align-content: center;
	/*eraser size*/
	width: 50px;
	height: 50px;
	background-image: url(https://static.wixstatic.com/media/39a9b0_11fc3d9233604ed4b7edd830d78a268e~mv2.png/v1/fill/w_588,h_415,al_c,lg_1,q_85,enc_auto/Note.png);
	background-size: 3vw 4vh;
	background-position: 42% 26.7%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	pointer-events: none;
	border-radius: 10%;
}

span7{
	display: flex;
	position: absolute;
	align-content: center;
	/*eraser size*/
	width: 50px;
	height: 50px;
	background-image: url(#);
	background-size: 17vw auto;
	background-position: 50% 45.6%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	pointer-events: none;
	border-radius: 10%;
}

.footBottom{
	position: fixed !important;
	width: 100%;
	height: 5vh;	
	background-color: #CACACA;	
	bottom: 0 !important;
	overflow: hidden;
}