@charset "UTF-8";

/*html{
	cursor: none;
}*/

*{
	margin: 0;
	padding: 0;
}

.headTop{
	position: relative;
	width: 100%;
	height: 5vh;	
	background-color: #F9D3FA;
	top: 0;
}

.headsec{
	position: relative;
	width: 6.588%;
	height: 4.5vh;
	border: 1px solid #F9D3FA;
	top: 0;
	float: left;
	align-items: center;
}

.boxsec{
	position: relative;
	width: 80%;
	height: 60%;	
	top: 14px;
	left: 18px;
	border-radius: 20px;
	background-color: #3B234C;
	align-items: center;
}

/*.cursorRounded{
  width: 30px;
  height: 30px;
  border: 2px solid #000;
  border-radius: 50%;
}*/

.scratchSec{
	width: 20vw;
	height: 91vh;
	margin: 0 0 0 40%;
	/* x% y% - The x value is the horizontal position y value is the vertical. The top left corner is 0% 0%. The right bottom corner is 100% 100%. If only 1 value is specified, the other value will be 50%. Default value is: 0% 0% */
	background-position: 40% 60%;
	background-blend-mode: difference;
	background: #FF00F1;
	overflow: hidden;	
	pointer-events: none;
}

span{
	display: flex;
	position: absolute;
	align-content: center;
	/*eraser size*/
	width: 50px;
	height: 50px;
	background-image: url(https://static.wixstatic.com/media/39a9b0_a75582ec67d34090b87ef852bac7aa96~mv2.png/v1/fill/w_937,h_1067,al_c,q_90,enc_auto/ArtboardUnder-YourSymbolsPanel.png);
	background-size: 5.84vw auto;
	/* x% y% - The x value is the horizontal position y value is the vertical. The top left corner is 0% 0%. The right bottom corner is 100% 100%. If only 1 value is specified, the other value will be 50%. Default value is: 0% 0% */
	background-position: 55.8% 28.4%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	pointer-events: none;
	border-radius: 10%;
}

span2{
		display: flex;
	position: absolute;
	align-content: center;
	/*eraser size*/
	width: 50px;
	height: 50px;
	background-image: url(https://static.wixstatic.com/media/39a9b0_0e3aff416fa04de2845f384233373b55~mv2.png/v1/fill/w_1200,h_864,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/39a9b0_0e3aff416fa04de2845f384233373b55~mv2.png);
	background-size: 17vw auto;
	background-position: 49.95% 50.3%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	pointer-events: none;
	border-radius: 10%;
}

.footBottom{
	position: fixed !important;
	width: 100%;
	height: 5vh;	
	background-color: #CACACA;	
	bottom: 0 !important;
	overflow: hidden;
}